body {
  margin: 0;
  padding: 0;
}
h1{
  background-color:aliceblue;
  color: #922B21
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
 text-align: center;
  padding: 10px;
}

